*/bin/
*/bin-debug/
*/bin-ant/
*/bin-release/
*/html-template/
.FlexUnitSettings/
.settings/
.actionScriptProperties
.flexProperties
.fxpProperties
.project
.flexLibProperties
*/certs/*.p12
/DebtCountDown-Phone/build.properties
/DebtCountDown-Desktop/build.properties
*/nbproject/
